.card {
    position: relative;
}

.card img {
    height: 30%;
    width: auto;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
}

.back {
    background: red;
}

.card .front {
    transform: rotateY(90deg);
    position: absolute;
    height: 100%;
    width: auto;
}

.flipped .front {
    transform: rotateY(0deg);
}